---
# Wireless networking with iwd

- name: Install wireless packages on Arch Linux
  community.general.pacman:
    name:
      - iwd
      - iwgtk
    state: present
  become: true
  when: ansible_os_family == "Archlinux"
  tags: ["packages"]

- name: Install wireless packages on Rocky Linux/RedHat
  ansible.builtin.dnf:
    name:
      - iwd
      - iwgtk
    state: present
  become: true
  when: ansible_os_family == "RedHat"
  tags: ["packages"]

- name: Enable iwd service
  ansible.builtin.service:
    name: iwd
    state: started
    enabled: true

- name: Configure iwd
  ansible.builtin.copy:
    src: etc/iwd/main.conf
    dest: /etc/iwd/main.conf
    mode: "0644"
