---
# mDNS/Avahi setup

- name: Install Avahi packages on Arch Linux
  pacman:
    name:
      - avahi
      - nss-mdns
    state: present
  become: true
  when: ansible_os_family == "Archlinux"
  tags: ["packages"]

- name: Install Avahi packages on Rocky Linux/RedHat
  ansible.builtin.dnf:
    name:
      - avahi
      - nss-mdns
    state: present
  become: true
  when: ansible_os_family == "RedHat"
  tags: ["packages"]

- name: Enable avahi-daemon
  ansible.builtin.systemd:
    name: avahi-daemon
    enabled: true
    state: started

- name: Configure nsswitch for mDNS
  ansible.builtin.lineinfile:
    path: /etc/nsswitch.conf
    regexp: '^hosts:'
    line: 'hosts: files mdns_minimal [NOTFOUND=return] dns {{ inventory_hostname }}'
    backup: true
