---
- name: Install font packages
  aur:
    use: paru
    name: "{{ ui.packages.font }}"
    state: present
  become: False
  when: ansible_distribution == 'Archlinux'
  tags: ['packages']

- name: Ensure fontconfig directory exists
  file:
    path: "{{ user.home }}/.config/fontconfig"
    state: directory
    owner: "{{ user.name }}"
    group: "{{ user.group }}"
    mode: '0755'

- name: Install fonts.conf
  copy:
    src: home/.config/fontconfig/fonts.conf
    dest: "{{ user.home }}/.config/fontconfig/fonts.conf"
    owner: "{{ user.name }}"
    group: "{{ user.group }}"
    mode: '0644'
    backup: yes
  tags: ['fonts']

- name: Update font-cache
  command: fc-cache -fv
  become: false
  register: font_cache
  changed_when: font_cache.rc != 0
  tags: ['fonts']