---

- block:
    - name: Install font packages
      aur:
        use: paru
        name: "{{ item }}"
        state: present
      with_items:
        - "{{ packages__font }}"
      become: false
      tags: ["packages"]
      when: ansible_distribution == "Archlinux"

    - name: Install font packages
      ansible.builtin.dnf:
        name: "{{ item }}"
        state: present
      with_items:
        - "{{ packages__font }}"
      tags: ["packages"]
      when: ansible_distribution == "Fedora"

  rescue:
    - name: Installing font packages failed
      ansible.builtin.debug:
        msg: "Failed to install font packages"

- name: Ensure fontconfig directory exists
  ansible.builtin.file:
    path: "{{ user.home }}/.config/fontconfig"
    state: directory
    owner: "{{ user.name }}"
    group: "{{ user.group }}"
    mode: "0755"

- name: Install fonts.conf
  ansible.builtin.copy:
    src: home/.config/fontconfig/fonts.conf
    dest: "{{ user.home }}/.config/fontconfig/fonts.conf"
    owner: "{{ user.name }}"
    group: "{{ user.group }}"
    mode: "0644"
    backup: true
  tags: ["fonts"]

- name: Ensure user fonts directory exists
  ansible.builtin.file:
    path: "{{ user.home }}/.fonts"
    state: directory
    owner: "{{ user.name }}"
    group: "{{ user.group }}"
    mode: "0755"
  tags: ["fonts"]

- name: Extract font archives to user fonts directory
  ansible.builtin.unarchive:
    src: "{{ item }}"
    dest: "{{ user.home }}/.fonts"
    owner: "{{ user.name }}"
    group: "{{ user.group }}"
    mode: "0644"
    creates: "{{ user.home }}/.fonts/{{ item | basename | regex_replace('\\.zip$', '') }}"
  with_fileglob:
    - "files/home/.fonts/*.zip"
  tags: ["fonts"]

- name: Update font-cache
  ansible.builtin.command: fc-cache -fv
  register: font_cache
  changed_when: font_cache.rc != 0
  tags: ["fonts"]
