---
- name: install gtk3 packages
  aur:
    use: paru
    name: "{{ ui.packages.gtk3 }}"
    state: present
  become: False
  when: ansible_distribution == 'Archlinux'
  tags: ['packages']

- name: Install gtk configurations
  template:
    src: "home/{{ item }}.j2"
    dest: "{{ user.home }}/{{ item }}"
    owner: "{{ user.name }}"
    group: "{{ user.group }}"
    mode: '0644'
    backup: yes
  with_items:
    - '.config/gtk-3.0/bookmarks'
    - '.config/gtk-3.0/gtk.css'
    - '.config/gtk-3.0/settings.ini'
    - '.config/gtk-4.0/settings.ini'
    - '.gtkrc-2.0'
  tags: ['profile', 'gtk']
