---

- block:
    - name: Install icon packages
      aur:
        use: paru
        name: "{{ item }}"
        state: present
      with_items:
        - "{{ packages__icon }}"
      become: false
      tags: ["packages"]
      when: ansible_distribution == "Archlinux"

    - name: Install icon packages
      ansible.builtin.dnf:
        name: "{{ item }}"
        state: present
      with_items:
        - "{{ packages__icon }}"
      tags: ["packages"]
      when: ansible_distribution == "Fedora"

  rescue:
    - name: Installing icon packages failed
      ansible.builtin.debug:
        msg: "Failed to install icon packages"

- name: Install icons
  ansible.builtin.copy:
    src: "files/usr/local/share/pixmaps/"
    dest: "/usr/local/share/pixmaps/"
    directory_mode: true
    mode: "644"
  become: true

- name: Update the icon cache
  ansible.builtin.command: bash -lc "gtk-update-icon-cache"
  become: false
  register: icon_cache
  changed_when: icon_cache.rc !=0
  tags: ["icons"]
