---
- name: Include distro vars
  ansible.builtin.include_vars:
    file: vars/{{ ansible_distribution }}.yml
  tags: ["always"]

- name: Ensure user directories are created
  ansible.builtin.file:
    dest: "{{ user.home }}/{{ item.dest }}"
    state: directory
    owner: "{{ user.name }}"
    group: "{{ user.group }}"
    mode: "{{ item.mode | default('0750') }}"
    recurse: "{{ item.recurse | default(False) }}"
  with_items: "{{ user_directory_definitions }}"
  become: false

- name: Ensure system directories are created
  ansible.builtin.file:
    dest: "{{ item.dest }}"
    state: directory
    owner: "{{ item.owner | default(system_directory_default_owner) }}"
    group: "{{ item.group | default(system_directory_default_group) }}"
    mode: "{{ item.mode | default(system_directory_default_mode) }}"
    recurse: "{{ item.recurse | default(system_directory_default_recurse) }}"
  with_items: "{{ system_directory_definitions }}"

- ansible.builtin.import_tasks:
    file: fonts.yml
  tags: ["fonts"]

- ansible.builtin.import_tasks:
    file: icons.yml
  tags: ["icons"]

- ansible.builtin.import_tasks:
    file: gtk.yml
  tags: ["gtk"]

- ansible.builtin.import_tasks:
    file: qt.yml
  tags: ["qt"]

- name: Ensure backgrounds directory exists
  ansible.builtin.file:
    path: "/usr/share/backgrounds"
    state: directory
    owner: root
    group: root
    mode: "0755"
  tags: ["backgrounds"]

- name: Install backgrounds
  ansible.builtin.unarchive:
    src: "files/usr/local/share/backgrounds/syncopated.tgz"
    dest: "/usr/share/backgrounds"
    owner: root
    group: root
    mode: "0644"
    creates: "/usr/share/backgrounds/syncopated"
  tags: ["backgrounds"]

