---

- block:
    - name: Install qt5 packages
      aur:
        use: paru
        name: "{{ theme_package }}"
        state: present
      loop: "{{ packages__qt5 }}"
      loop_control:
        loop_var: theme_package
      become: false
      tags: ["packages"]
      when: ansible_distribution == "Archlinux"

    - name: Install qt5 packages
      ansible.builtin.dnf:
        name: "{{ theme_package }}"
        state: present
      loop: "{{ packages__qt5 }}"
      loop_control:
        loop_var: theme_package
      tags: ["packages"]
      when: ansible_distribution == "Fedora"

  rescue:
    - name: Installing qt5 packages failed
      ansible.builtin.debug:
        msg: "Failed to install qt5 packages"


- block:
    - name: Install qt6 packages
      aur:
        use: paru
        name: "{{ theme_package }}"
        state: present
      loop: "{{ packages__qt6 }}"
      loop_control:
        loop_var: theme_package
      become: false
      tags: ["packages"]
      when: ansible_distribution == "Archlinux"

    - name: Install qt6 packages
      ansible.builtin.dnf:
        name: "{{ theme_package }}"
        state: present
      loop: "{{ packages__qt6 }}"
      loop_control:
        loop_var: theme_package
      tags: ["packages"]
      when: ansible_distribution == "Fedora"

  rescue:
    - name: Installing qt6 packages failed
      ansible.builtin.debug:
        msg: "Failed to install qt6 packages"

- block:
    - name: Install kvantum packages
      aur:
        use: paru
        name: "{{ theme_package }}"
        state: present
      loop: "{{ packages__kvantum }}"
      loop_control:
        loop_var: theme_package
      become: false
      tags: ["packages"]
      when: ansible_distribution == "Archlinux"

    - name: Install kvantum packages
      ansible.builtin.dnf:
        name: "{{ theme_package }}"
        state: present
      loop: "{{ packages__kvantum }}"
      loop_control:
        loop_var: theme_package
      tags: ["packages"]
      when: ansible_distribution == "Fedora"

  rescue:
    - name: Installing kvantum packages failed
      ansible.builtin.debug:
        msg: "Failed to install kvantum packages"


- name: Install qtct configurations
  ansible.builtin.template:
    src: "home/{{ theme_config_file }}.j2"
    dest: "{{ user.home }}/{{ theme_config_file }}"
    owner: "{{ user.name }}"
    group: "{{ user.group }}"
    mode: "0644"
    backup: true
  loop:
    - ".config/Kvantum/kvantum.kvconfig"
    - ".config/qt5ct/qt5ct.conf"
    - ".config/qt6ct/qt6ct.conf"
  loop_control:
    loop_var: theme_config_file
  tags: ["profile", "qt"]
