---
# Xwayland compatibility layer

- name: Load distribution-specific variables
  include_vars: "{{ ansible_os_family }}.yml"
  tags: ["packages"]

- name: Install xwayland packages on Arch Linux
  pacman:
    name: "{{ xwayland_packages }}"
    state: present
  become: true
  when: 
    - ansible_os_family == "Archlinux"
    - xwayland_packages is defined
  tags: ["packages"]

- name: Install xwayland packages on Rocky Linux/RedHat
  dnf:
    name: "{{ xwayland_packages }}"
    state: present
  become: true
  when: 
    - ansible_os_family == "RedHat"
    - xwayland_packages is defined
  tags: ["packages"]