---
# Shell configuration with zsh

- name: Load distribution-specific variables
  ansible.builtin.include_vars: "{{ ansible_os_family }}.yml"
  tags: ["packages"]

- name: Install shell packages on Arch Linux
  community.general.pacman:
    name: "{{ packages__zsh }}"
    state: present
  become: true
  when:
    - ansible_os_family == "Archlinux"
    - shell_packages is defined
  tags: ["packages"]

- name: Install shell packages on Rocky Linux/RedHat
  ansible.builtin.dnf:
    name: "{{ shell_packages }}"
    state: present
  become: true
  when:
    - ansible_os_family == "RedHat"
    - shell_packages is defined
  tags: ["packages"]

- name: Install zsh configurations and plugins
  ansible.builtin.import_tasks: zsh.yml
  tags: ["zsh", "profile"]

- name: Push aliases template
  ansible.builtin.template:
    src: home/.aliases.j2
    dest: "{{ user.home }}/.aliases"
    owner: "{{ user.name }}"
    group: "{{ user.group }}"
    mode: "0644"
    backup: true
  tags: ["aliases", "profile"]

- name: Push aliases template
  ansible.builtin.template:
    src: home/.aliases.j2
    dest: "/root/.aliases"
    mode: "0644"
    backup: true
  tags: ["aliases", "profile"]

- name: Push .profile template
  template:
    src: home/.profile.j2
    dest: "{{ profile_config_dir }}/.profile"
    mode: "0644"
    backup: True
  tags: ["profile"]
