---
# Zsh configuration and setup

# - name: Oh-my-zsh installation
#   block:
#     - name: Download oh-my-zsh install script
#       ansible.builtin.get_url:
#         url: "https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh"
#         dest: "/tmp/oh-my-zsh-install.sh"
#         mode: "0755"
#       register: oh_my_zsh_install_script

#     - name: Install oh-my-zsh
#       ansible.builtin.command:
#         cmd: "env ZSH=/usr/share/oh-my-zsh sh /tmp/oh-my-zsh-install.sh --unattended"
#       when: oh_my_zsh_install_script is changed
#       register: oh_my_zsh_install
#   tags: ["oh-my-zsh"]

- name: Oh-my-zsh plugins installation
  block:
    - name: Install oh-my-zsh plugins
      ansible.builtin.copy:
        src: "usr/share/oh-my-zsh/plugins/{{ item }}"
        dest: "/usr/share/oh-my-zsh/plugins/"
        owner: root
        group: root
        backup: true
      loop:
        - fd
        - ripgrep
  tags: ["plugins"]

- name: Zsh custom functions setup
  block:
    - name: Install zsh custom functions
      ansible.posix.synchronize:
        src: home/.local/share/zsh/
        dest: "{{ user.home }}/.local/share/zsh/"
        recursive: true
        mode: push
        delete: true
        checksum: true
        perms: false
        rsync_opts:
          - "--update"
          - "--omit-dir-times"
          - "--chown={{ user.name }}:{{ user.name }}"
      ignore_errors: "{{ ansible_check_mode }}"
      become: false
  tags: ["functions"]

# - name: Zsh configuration files
#   block:
#     - name: Configure zsh profile files
#       ansible.builtin.template:
#         src: "home/{{ item }}.j2"
#         dest: "{{ user.home }}/{{ item }}"
#         owner: "{{ user.name }}"
#         group: "{{ user.name }}"
#         mode: "0644"
#         backup: true
#       loop:
#         - .zlogin
#         - .zprofile
#         - .zshenv
#         - .zshrc
#       become: false
#   tags: ["config"]
