---
# Zsh configuration and setup

# - name: Install oh-my-zsh

- name: Install oh-my-zsh plugins
  ansible.builtin.copy:
    src: "usr/share/oh-my-zsh/plugins/{{ item }}"
    dest: "/usr/share/oh-my-zsh/plugins/"
    owner: root
    group: root
    backup: true
  loop:
    - fd
    - ripgrep
  tags: ["plugins"]

- name: Install zsh custom functions
  ansible.posix.synchronize:
    src: home/.local/share/zsh/
    dest: "{{ user.home }}/.local/share/zsh/"
    recursive: true
    mode: push
    delete: true
    checksum: true
    perms: false
    rsync_opts:
      - "--update"
      - "--omit-dir-times"
      - "--chown={{ user.name }}:{{ user.name }}"
  ignore_errors: "{{ ansible_check_mode }}"
  tags: ["functions"]

- name: Configure zsh profile files
  ansible.builtin.template:
    src: "home/{{ item }}.j2"
    dest: "{{ user.home }}/{{ item }}"
    owner: "{{ user.name }}"
    group: "{{ user.name }}"
    mode: "0644"
    backup: true
  loop:
    - .zlogin
    - .zprofile
    - .zshenv
    - .zshrc
  tags: ["config"]
