/.venv/
.vscode
.vagrant
syncopated-ansible.code-workspace
__pycache__
.lock
.qodo
installer_alt.sh
installer.sh
.env
/llm_analysis/
/.goose/
***/roles/desktop/files/nautilus-scripts/**
*.jsx
pyproject.toml
.ruby-version
.ruby-gemset
ansible.code-workspace
