[defaults]
inventory               = ./inventory/inventory.ini
library                 = ./plugins/modules:/usr/share/ansible/plugins/modules
module_utils            = ./plugins/module_utils:/usr/share/ansible/plugins/module_utils
remote_tmp              = /tmp
local_tmp               = /tmp
forks                   = 10
ask_pass                = False
gathering               = smart
interpreter_python      = auto_silent
roles_path              = ./roles:/usr/share/ansible/roles:/etc/ansible/roles
collections_path        = ./.venv/lib/python3.10/site-packages/ansible_collections:/usr/share/ansible/collections

inject_facts_as_vars    = True

stdout_callback         = ansible.posix.debug
# callbacks_enabled       = profile_tasks,llm_analyzer
callbacks_enabled       = profile_tasks

log_path                = /tmp/ansible.log
ansible_managed         = Ansible took care of this file because you were too busy with your modular synthsizers to be bothered.

display_skipped_hosts   = False
display_args_to_stdout  = False
error_on_undefined_vars = True
deprecation_warnings    = False
command_warnings        = False

# set plugin path directories here, separate with colons
#action_plugins     = /usr/share/ansible/plugins/action
#become_plugins     = /usr/share/ansible/plugins/become
#cache_plugins      = /usr/share/ansible/plugins/cache
callback_plugins   = ./plugins/callback:/usr/share/ansible/plugins/callback
#connection_plugins = /usr/share/ansible/plugins/connection
#lookup_plugins     = /usr/share/ansible/plugins/lookup
#inventory_plugins  = /usr/share/ansible/plugins/inventory
#vars_plugins       = /usr/share/ansible/plugins/vars
#filter_plugins     = /usr/share/ansible/plugins/filter
#test_plugins       = /usr/share/ansible/plugins/test
#terminal_plugins   = /usr/share/ansible/plugins/terminal
#strategy_plugins   = /usr/share/ansible/plugins/strategy

strategy                = linear
bin_ansible_callbacks   = True

fact_caching            = jsonfile
fact_caching_connection = /tmp/ansible_cache
fact_caching_prefix     = ansible_facts_
fact_caching_timeout    = 86400

no_log                  = False
no_target_syslog        = False

# hash_behavior           = merge

[inventory]
enable_plugins          = ini, host_list, script, auto, yaml, toml

[privilege_escalation]
become                  = False
become_method           = sudo
become_ask_pass         = False
become_flags            = -H -S -n

[sudo_become_plugin]
user = root
flags = -H -S -n

[paramiko_connection]

[ssh_connection]
ssh_args                = -C -o ControlMaster=auto -o ControlPersist=60s
control_path_dir        = /tmp/.ansible/cp
pipelining              = True
scp_if_ssh              = smart
transfer_method         = smart

[persistent_connection]
connect_timeout         = 30

[selinux]

# [colors]
# highlight               = bright green
# debug                   = dark gray
# ok                      = blue
# changed                 = yellow

[diff]
always                  = True

[galaxy]

# [callback_llm_analyzer]
# provider = groq
# api_key = ""
# model = llama-3.3-70b-versatile
# temperature = 0.4