---
# User Manager main tasks

- name: User account and directory setup
  become: true
  block:
    - name: Ensure user is present with proper shell and groups
      ansible.builtin.user:
        name: "{{ user.name }}"
        shell: "{{ user.shell | default('/usr/bin/zsh') }}"
        groups: "{{ user.groups | default(['wheel', 'audio', 'video']) }}"
        append: true
        state: present
      tags: ["user"]

    - name: Ensure ~/.local/bin exists
      ansible.builtin.file:
        path: "{{ user.home | default('/home/' + user.name) }}/.local/bin"
        state: directory
        mode: "0755"
        owner: "{{ user.name }}"
        group: "{{ user.group | default(user.name) }}"
      register: local_bin_dir
      tags: ["folders"]

    - name: Ensure ~/.local/share exists
      ansible.builtin.file:
        path: "{{ user.home | default('/home/' + user.name) }}/.local/share"
        state: directory
        mode: "0755"
        owner: "{{ user.name }}"
        group: "{{ user.group | default(user.name) }}"
      tags: ["folders"]

- name: Configure sudo access
  ansible.builtin.include_tasks: sudo.yml
  when: user.sudoers | default(true)
  tags: ["sudoers"]

# - name: Install yadm for dotfile management
#   ansible.builtin.get_url:
#     url: "https://github.com/yadm-dev/yadm/raw/master/yadm"
#     dest: "{{ user.home | default('/home/' + user.name) }}/.local/bin/yadm"
#     mode: "0755"
#     owner: "{{ user.name }}"
#     group: "{{ user.group | default(user.name) }}"
#   register: yadm_install
#   when: not ansible_check_mode
#   # when: user.yadm | default(true)
#   tags: ["yadm"]
