---
# tasks file for xorg

- name: Load distribution-specific variables
  ansible.builtin.include_vars: "{{ ansible_distribution }}.yml"
  tags: ["packages"]

- name: Install xorg packages
  aur:
    use: paru
    name: "{{ xorg_packages__xorg }}"
    state: present
  become: false
  when: ansible_distribution == "Archlinux"
  tags: ["packages"]

- tags: ["packages"]
  when: ansible_distribution == "Fedora"
  block:
    - name: Install xorg packages
      ansible.builtin.dnf:
        name: "{{ xorg_package_item }}"
        state: present
      loop: "{{ xorg_packages__xorg }}"
      loop_control:
        loop_var: xorg_package_item
      become: true
  rescue:
    - name: Installing packages failed
      ansible.builtin.debug:
        msg: "Failed to install xorg packages"

- name: Disable vblank
  ansible.builtin.copy:
    content: |
      <device screen="0" driver="dri2">
          <application name="Default">
              <option name="vblank_mode" value="0"/>
          </application>
      </device>
    dest: "{{ user.home }}/.drirc"
    owner: "{{ user.name }}"
    group: "{{ user.group }}"
  when: disable_vblank is defined

- tags: ["env", "profile", "xprofile"]
  block:
    - name: Display x vars
      ansible.builtin.debug:
        msg: "{{ x }}"
      when: debug_vars is defined

    - name: Set xserver configs
      ansible.builtin.template:
        src: "home/{{ item }}.j2"
        dest: "{{ user.home }}/{{ item }}"
        owner: "{{ user.name }}"
        group: "{{ user.group }}"
        mode: "0644"
        backup: true
      with_items:
        - .xprofile
        - .xserverrc
        - .Xresources

    - name: Set xinitrc config
      ansible.builtin.template:
        src: home/.xinitrc.j2
        dest: "{{ user.home }}/.xinitrc"
        owner: "{{ user.name }}"
        group: "{{ user.group }}"
        mode: "0755"
        backup: true
