---

autologin: true

zsh_theme: kphoen

i3:
  autostart: ""
  # - "sleep 1;barrierc -f --debug INFO --name crambot --disable-crypto [soundbot]:24800"
  tray_output: "primary"
  assignments: "default"
  workspaces: "default"
  keybindings: "default"

use_systemd: true

systemd_network_netdevs:
  br0:
    NetDev:
      Kind: bridge

systemd_network_networks:
  eth0:
    Match:
      Name: eth0
      MACAddress: b8:ca:3a:94:51:ca
    Network:
      Bridge: br0

  br0:
    Network:
      Address: 192.168.41.10/24
      Gateway: 192.168.41.1
      DNS: 192.168.41.4
      Domains: syncopated.net

# systemd_network_networks:
#   20-wired:
#     Match:
#       Name: eth*
#       MACAddress: b8:ca:3a:94:51:ca
#     Network:
#       Address: 192.168.41.10/24
#       Gateway: 192.168.41.1
#       DNS: 192.168.41.1
#       Domains: syncopated.net

share:
  nfs:
    parent: /home
    exports:
      - b08x

samba_host: false
