---

nfs_host: true
share:
  nfs:
    parent: /home
    exports:
      - b08x

samba_host: false

zsh_theme: kphoen

# x:
#   autostart:
#     - bash ~/.screenlayout/soundbot.sh

# i3:
#   autostart: ""
#   tray_output: "DP-2-2"
#   assignments: ""
#   keybindings: ""
#   workspaces:
#     - "$ws1 output eDP-1"
#     - "$ws2 output DP-2-2"
#     - "$ws3 output DP-2-2"
#     - "$ws4 output DP-2-2"
#     - "$ws5 output DP-2-2"
#     - "$ws6 output DP-2-1"
#     - "$ws7 output DP-2-1"
#     - "$ws8 output DP-2-1"
#     - "$ws9 output DP-2-1"
#     - "$ws10 output DP-2-1"

# terminal: kitty
# terminal_alt: urxvt

# networking: "systemd-network"

# systemd_network_netdevs:
#   br0:
#     NetDev:
#       Kind: bridge

# systemd_network_networks:
#   enp10s0:
#     Match:
#       Name: enp65s0u1
#       MACAddress: 00:50:b6:91:fc:4d
#     Network:
#       Bridge: br0

#   br0:
#     Network:
#       Address: 192.168.41.2/24
#       Gateway: 192.168.41.1
#       DNS: 192.168.41.4
#       Domains: syncopated.net
#       LinkLocalAddressing: no
#       IPv6AcceptRA: no
