---
# handlers file for base role - RedHat family

- name: Update cache
  ansible.builtin.dnf:
    update_cache: true
  when: ansible_os_family == "RedHat"
  listen: "Update cache"

- name: Generate locales
  ansible.builtin.command: locale-gen
  listen: "Generate locales"

- name: Update hwclock
  ansible.builtin.command: hwclock --systohc
  listen: "Update hwclock"

- name: Rebuild grub
  ansible.builtin.command: grub2-mkconfig -o /boot/grub2/grub.cfg
  when: bootloader == "grub"
  listen: "Rebuild grub"
