---
# handlers file for packages

- name: Update cache
  community.general.pacman:
    update_cache: true
    upgrade: false
  when: ansible_os_family == "Archlinux"
  listen: "Update cache"

- name: Update dnf cache
  ansible.builtin.dnf:
    update_cache: true
  when: ansible_os_family == "RedHat"
  listen: "Update cache"

- name: Generate locales
  ansible.builtin.command: locale-gen
  listen: "Generate locales" # Explicitly listen for clarity

- name: Update hwclock
  ansible.builtin.command: hwclock --systohc
  listen: "Update hwclock"
