---
version: '3.8'

services:
  pihole:
    container_name: pihole-container
    image: pihole/pihole:latest # check the latest version on docker hub.
    hostname: pihole # set an easy hostname to remember
    domainname: syncopated.net # your local domain name
    mac_address: de:ad:be:ef:ff:01 # can change or leave this
    cap_add:
      - NET_ADMIN
    networks:
      macvlan0: # same as network specified below
        ipv4_address: 192.168.41.41 # the IP of the pihole container
    dns:
      - 127.0.0.1 # use local DNS, since the pihole
      - 8.8.8.8 # optional fallback DNS
    ports: # expose all pihole ports.
      - "8443:443"
      - "8080:80"
    volumes: # mount our data volumes.
       - './etc-pihole/:/etc/pihole/'
       - './etc-dnsmasq.d/:/etc/dnsmasq.d/'
       - './backups/:/backups/' # backups explained later
    environment: # set variables for pihole configuration.
      ServerIP: 192.168.41.41 # must match ipv4_address above
      VIRTUAL_HOST: pihole.syncopated.net  # Must be hostname + domainname from above
      WEBPASSWORD: "randompassword"
      TZ: 'America/New_York' # pick your timezone
    restart: unless-stopped

networks:
  macvlan0:   # externally created network (later in article)
    external: true
