idle_bg = "{{ colors.primary.background }}"
idle_fg = "{{ colors.normal.white }}"
info_bg = "{{ colors.primary.background }}"
info_fg = "{{ colors.normal.white }}"
good_bg = "{{ colors.primary.background }}"
good_fg = "{{ colors.normal.white }}"
warning_bg = "{{ colors.primary.background }}"
warning_fg = "{{ colors.normal.white }}"
critical_bg = "{{ colors.normal.red }}"
critical_fg = "{{ colors.normal.black }}"
separator = "\ue0b2"
separator_bg = "auto"
separator_fg = "auto"
