[module/pulseaudio]
type = internal/pulseaudio
sink = jack_out
use-ui-max = true
interval = 5
format-volume = <bar-volume>
format-muted = <label-muted>
format-muted-prefix = 
format-muted-prefix-foreground = {{ colors.red0 }}
label-volume = %percentage%%
label-muted = " bolt"
label-muted-foreground = {{ colors.black1 }}
bar-volume-format = "%fill%%indicator%%empty%"
bar-volume-width = 12
bar-volume-gradient = true
bar-volume-indicator = ${bar.indicator}
bar-volume-indicator-foreground = {{ colors.background }}
bar-volume-indicator-font = 1
bar-volume-fill = ${bar.fill}
bar-volume-fill-font = 1
bar-volume-foreground-0 = {{ colors.blue0 }}
bar-volume-foreground-1 = {{ colors.blue0 }}
bar-volume-foreground-2 = {{ colors.green0 }}
bar-volume-foreground-3 = {{ colors.green0 }}
bar-volume-foreground-4 = {{ colors.green0 }}
bar-volume-foreground-5 = {{ colors.yellow0 }}
bar-volume-foreground-6 = {{ colors.yellow0 }}
bar-volume-foreground-7 = {{ colors.yellow0 }}
bar-volume-foreground-8 = {{ colors.orange0 }}
bar-volume-foreground-9 = {{ colors.red0 }}
bar-volume-empty = ${bar.empty}
bar-volume-empty-font = 1
bar-volume-empty-foreground = {{ colors.background }}
ramp-headphones-0 = 
ramp-headphones-1 = 
click-right = pavucontrol &
;; format-volume = <ramp-volume> <label-volume>
;; label-muted =  %percentage%
;; label-muted-font = 3
;; label-muted-padding = 2
;; label-muted-foreground = {{ colors.black1 }}
;; label-muted-underline = #999
;; ramp-volume-0 = 
;; ramp-volume-1 = 
;; ramp-volume-2 = 
;; ramp-volume-foreground = {{ colors.cyan1 }}

[module/alsa]
type = internal/alsa
master-soundcard = default
speaker-soundcard = default
headphone-soundcard = default
master-mixer = Master
interval = 5
format-volume = <ramp-volume> <label-volume>
format-muted = <label-muted>
format-muted-prefix = 
format-muted-prefix-foreground = {{ colors.red0 }}
label-volume = %percentage%%
label-muted = " Muted"
label-muted-foreground = {{ colors.red0 }}
ramp-volume-0 = 
ramp-volume-1 = 
ramp-volume-2 = 
ramp-volume-foreground = {{ colors.red0 }}
ramp-headphones-0 = 
ramp-headphones-background = {{ colors.red0 }}

[module/volume]
type = internal/alsa
master-soundcard = hw:0
speaker-soundcard = default
headphone-soundcard = default
master-mixer = Master
mapped = true
interval = 5
format-volume = <bar-volume>
format-muted = <label-muted>
format-muted-prefix = 
format-muted-prefix-foreground = {{ colors.red0 }}
label-volume = %percentage%%
label-muted = " onboard"
label-muted-foreground = {{ colors.black1 }}
bar-volume-format = "%fill%%indicator%%empty%"
bar-volume-width = 12
bar-volume-gradient = true
bar-volume-indicator = ${bar.indicator}
bar-volume-indicator-foreground = {{ colors.background }}
bar-volume-indicator-font = 1
bar-volume-fill = ${bar.fill}
bar-volume-fill-font = 1
bar-volume-foreground-0 = {{ colors.blue0 }}
bar-volume-foreground-1 = {{ colors.blue0 }}
bar-volume-foreground-2 = {{ colors.green0 }}
bar-volume-foreground-3 = {{ colors.green0 }}
bar-volume-foreground-4 = {{ colors.green0 }}
bar-volume-foreground-5 = {{ colors.yellow0 }}
bar-volume-foreground-6 = {{ colors.yellow0 }}
bar-volume-foreground-7 = {{ colors.yellow0 }}
bar-volume-foreground-8 = {{ colors.orange0 }}
bar-volume-foreground-9 = {{ colors.red0 }}
bar-volume-empty = ${bar.empty}
bar-volume-empty-font = 1
bar-volume-empty-foreground = {{ colors.background }}
ramp-headphones-0 = 
click-right = pavucontrol &

[module/preamp]
inherit = module/volume
master-soundcard = ${env:PREAMP:hw:1}
master-mixer = PCM
label-muted = " preamp"
label-muted-foreground = {{ colors.black1 }}
headphone-id = none
click-right = xterm -e alsamixer &
