[bar/DP1-1]
inherit = bar/eDP1
monitor = ${env:MONITOR:DP1-1}
modules-left = menu sep i3
modules-center = date
modules-right = sep htop governor redshift sep pulseaudio volume
tray-position = none

[bar/DP1-2]
inherit = bar/eDP1
monitor = ${env:MONITOR:DP1-2}
modules-left = menu sep i3
modules-center = date
modules-right = sep htop governor redshift sep pulseaudio volume
tray-position = none

[bar/HDMI1]
inherit = bar/eDP1
monitor = ${env:MONITOR:HDMI1}
