[module/backlight]
type = internal/backlight
card = intel_backlight
format = <ramp> <label>
label = %percentage%%
ramp-0 = 
ramp-1 = 
ramp-2 = 
ramp-3 = 
ramp-4 = 
ramp-foreground = {{ colors.red0 }}

[module/battery]
type = internal/battery
full-at = 99
battery = BAT0
adapter = AC
poll-interval = 2
time-format = %H:%M
format-charging = <label-charging>
format-charging-prefix = ""
format-charging-prefix-foreground = {{ colors.red0 }}
format-discharging = <label-discharging>
format-discharging-prefix = ""
format-discharging-prefix-foreground = {{ colors.red0 }}
format-full = <label-full>
format-full-prefix = 
format-full-prefix-foreground = {{ colors.green0 }}
label-charging = " %percentage%%"
label-discharging = " %percentage%%"
;;label-full = ""
ramp-capacity-0 =
ramp-capacity-1 =
ramp-capacity-2 =
ramp-capacity-3 =
ramp-capacity-4 =
animation-charging-0 =
animation-charging-1 =
animation-charging-framerate = 750

[module/cpu]
type = internal/cpu
interval = 1
format = <label>
format-prefix = 
format-prefix-foreground = {{ colors.red0 }}
label = " %percentage%%"

[module/date]
type = internal/date
interval = 1.0
;; date = %A, %d %B
time = %I:%M %p
date-alt = Its %A, %d %B %Y
time-alt = at %k:%M:%S
format = <label>
;; format-prefix = " "
format-prefix-foreground = {{ colors.red0 }}
label = %date% %time%

[module/filesystem]
type = internal/fs
mount-0 = /
interval = 30
fixed-values = true
format-mounted = <label-mounted>
format-mounted-prefix = 
format-mounted-prefix-foreground = {{ colors.red0 }}
format-unmounted = <label-unmounted>
format-unmounted-prefix = 
format-unmounted-prefix-foreground = {{ colors.red0 }}
label-mounted = " %free%"
label-unmounted = " %mountpoint%: NA"

[module/memory]
type = internal/memory
interval = 1
format = <label>
format-prefix = 
format-prefix-foreground = {{ colors.red0 }}
label = " %mb_used%"

[module/mpd]
type = internal/mpd
interval = 1
format-online = <label-song> <icon-prev> <toggle> <icon-next>
format-online-prefix = 
format-online-prefix-foreground = {{ colors.red0 }}
format-offline = <label-offline>
format-offline-prefix = 
format-offline-prefix-foreground = {{ colors.red0 }}
label-song =  " %artist% - %title%"
label-song-maxlen = 25
label-song-ellipsis = true
label-time = %elapsed% / %total%
label-time-background = ${color.background-alt}
label-time-padding = 1
label-offline = " Offline"
icon-play = 
icon-play-foreground = {{ colors.red0 }}
icon-pause = 
icon-pause-foreground = {{ colors.red0 }}
icon-stop = 
icon-stop-foreground = {{ colors.red0 }}
icon-next = 
icon-next-foreground = {{ colors.red0 }}
icon-prev = 
icon-prev-foreground = {{ colors.red0 }}
icon-seekf =
icon-seekb =
icon-random =
icon-repeat =
icon-repeatone =
icon-single =
icon-consume =
toggle-on-foreground = {{ colors.red0 }}
toggle-off-foreground = {{ colors.red0 }}

[module/wired-network]
type = internal/network
interface = eth0

[module/wireless-network]
type = internal/network
interface = wlp3s0
label-connected = "%{A1:nm-connection-editor &:} %essid% %{F#6C77BB}%{F-} %downspeed%%{A}"

[module/network]
type = internal/network
interface = enp13s0u1
interval = 1.0
accumulate-stats = true
unknown-as-up = true
format-connected = <label-connected>
format-connected-prefix = 
format-connected-prefix-foreground = {{ colors.red0 }}
format-disconnected = <label-disconnected>
format-disconnected-prefix = 
format-disconnected-prefix-foreground = {{ colors.red0 }}
label-connected = "%{A1:nm-connection-editor &:} %{F#6C77BB}%{F-} %downspeed%%{A}"
label-disconnected = "%{A1:nm-connection-editor &:} Offline%{A}"
ramp-signal-0 =
ramp-signal-1 =
ramp-signal-2 =

[module/temperature]
type = internal/temperature
interval = 0.5
thermal-zone = 0
hwmon-path = /sys/devices/pci0000:00/0000:00:01.3/0000:01:00.0/hwmon/hwmon0/temp1_input
warn-temperature = 65
units = true
format = <ramp> <label>
format-warn = <ramp> <label-warn>
label = %temperature-c%
label-warn = "%temperature-c%"
label-warn-foreground = {{ colors.red0 }}
ramp-0 = 
ramp-1 = 
ramp-2 = 
ramp-3 = 
ramp-4 = 
ramp-foreground = {{ colors.red0 }}

[module/keyboard]
type = internal/xkeyboard
blacklist-0 = num lock
blacklist-1 = scroll lock
format = <label-layout> <label-indicator>
format-prefix = 
format-prefix-foreground = {{ colors.red0 }}
label-layout = " %layout%"
label-indicator-on = "%name%"
label-indicator-on-foreground = {{ colors.red0 }}

[module/title]
type = internal/xwindow
format = <label>
format-prefix = 
format-foreground = {{ colors.yellow0 }}
label = " %title%"
label-maxlen = 30
label-empty = " Desktop"

[module/i3]
type = internal/i3
pin-workspaces = true
strip-wsnumbers = true

format = <label-state> <label-mode>
label-focused = %index%
label-focused-foreground = {{ colors.cyan1 }}
label-focused-background = {{ colors.background }}
label-focused-underline = {{ colors.red0 }}
label-focused-padding = 2
label-unfocused = %index%
label-unfocused-padding = 2
label-unfocused-foreground = {{ colors.cyan0 }}
label-unfocused-background = {{ colors.background }}
label-unfocused-underline = {{ colors.red0 }}
label-visible = %index%
label-visable-foreground = {{ colors.green0 }}
label-visable-background = {{ colors.background }}
label-visible-underline = #555555
label-visible-padding = 2
label-urgent = %index%
label-urgent-foreground = #000000
label-urgent-background = #bd2c40
label-urgent-padding = 2
label-separator = |
label-separator-padding = 0
label-separator-foreground = {{ colors.red0 }}
