---
# tasks file for libvirt (Fedora)

- name: Install virtualization packages
  ansible.builtin.dnf:
    name: "{{ libvirt_packages }}"
    state: present

- name: Configure libvirtd
  ansible.builtin.template:
    src: libvirtd.conf.j2
    dest: /etc/libvirt/libvirtd.conf
    owner: root
    group: root
    mode: "0644"
  notify: Restart libvirtd

- name: Configure QEMU bridge access
  ansible.builtin.copy:
    src: etc/qemu/bridge.conf
    dest: /etc/qemu/bridge.conf
    owner: root
    group: root
    mode: "0644"

- name: Disable lvmetad for libvirt storage pools
  ansible.builtin.lineinfile:
    path: /etc/lvm/lvm.conf
    regexp: '^\s*use_lvmetad\s*='
    line: '    use_lvmetad = 0'
    owner: root
    group: root
    mode: '0644'
  when: libvirt_configure_lvm

- name: Add specified users to the libvirt group
  ansible.builtin.user:
    name: "{{ item }}"
    groups: "libvirt"
    append: true
  loop: "{{ libvirt_users }}"
  when: libvirt_users | length > 0

- name: Ensure libvirt service is started and enabled
  ansible.builtin.systemd:
    name: "{{ libvirt_service }}"
    enabled: "{{ libvirt_service_enabled }}"
    state: started

