---
# Libvirt virtualization

- name: Load distribution-specific variables
  include_vars: "{{ ansible_os_family }}.yml"
  tags: ["packages"]

- name: Install libvirt packages on Arch Linux
  pacman:
    name: "{{ libvirt_packages }}"
    state: present
  become: true
  when: 
    - ansible_os_family == "Archlinux"
    - libvirt_packages is defined
  tags: ["packages"]

- name: Install libvirt packages on Rocky Linux/RedHat
  dnf:
    name: "{{ libvirt_packages }}"
    state: present
  become: true
  when: 
    - ansible_os_family == "RedHat"
    - libvirt_packages is defined
  tags: ["packages"]

- name: Configure libvirtd
  copy:
    src: etc/libvirt/libvirtd.conf
    dest: /etc/libvirt/libvirtd.conf
    mode: "0644"

- name: Configure qemu bridge
  copy:
    src: etc/qemu/bridge.conf
    dest: /etc/qemu/bridge.conf
    mode: "0644"

- name: Disable lvmetad
  lineinfile:
    dest: /etc/lvm/lvm.conf
    regexp: "^    use_lvmetad = 1"
    line: "    use_lvmetad = 0"
    backrefs: true
    backup: true

- name: Add user to libvirt group
  user:
    name: "{{ user.name }}"
    groups: "libvirt,kvm"
    append: true

- name: Enable libvirtd service
  systemd:
    name: libvirtd
    enabled: true
  when: libvirt.service | default('enabled') == 'enabled'

- name: Setup Vagrant
  import_tasks: vagrant.yml
  when: use_vagrant | default(false)
  tags: ["vagrant"]