---
# Main tasks file for window-manager role
- name: Load distribution-specific variables
  ansible.builtin.include_vars: "{{ ansible_distribution }}.yml"
  tags: ["packages"]
  
- name: Include window manager specific tasks
  ansible.builtin.include_tasks: "{{ window_manager }}.yml"
  when: window_manager in ['i3', 'sway']

- name: Update environment file
  ansible.builtin.copy:
    src: etc/environment
    dest: /etc/environment
    mode: "0644"
    backup: true
  become: true
