[Desktop Entry]
Version=1.0
Type=Application
Name=x42-meter True-Peak and RMS Meter (Stereo)
GenericName=Audio Meter
Comment=True-Peak and RMS Meter (Stereo)
Exec=x42-meter 10
Icon=x42-meter
Terminal=false
StartupNotify=false
