[Desktop Entry]
Version=1.0
Type=Application
Name=x42-meter Stereo/Frequency Scope
GenericName=Audio Meter
Comment=Stereo/Frequency Scope
Exec=x42-meter 16
Icon=x42-meter
Terminal=false
StartupNotify=false
