[Desktop Entry]
Version=1.0
Type=Application
Name=x42-meter Phase/Frequency Wheel
GenericName=Audio Meter
Comment=Phase/Frequency Wheel
Exec=x42-meter 14
Icon=x42-meter
Terminal=false
StartupNotify=false
