[Desktop Entry]
Version=1.0
Type=Application
Name=x42-meter Nordic Meter (Stereo)
GenericName=Audio Meter
Comment=Nordic Meter (Stereo)
Exec=x42-meter 8
Icon=x42-meter
Terminal=false
StartupNotify=false
