[Desktop Entry]
Version=1.0
Type=Application
Name=x42-meter 1/3 Octave Spectrum Analyzer
GenericName=Audio Meter
Comment=1/3 Octave Spectrum Analyzer
Exec=x42-meter 15
Icon=x42-meter
Terminal=false
StartupNotify=false
