[Desktop Entry]
Version=1.0
Type=Application
Name=DragonflyEarlyReflections
Comment=io.github.michaelwillis.DragonflyEarlyReflections
Exec=DragonflyEarlyReflections
Icon=dragonfly
Terminal=false
StartupNotify=false
Categories=AudioVideo;Audio;
