---
- name: Load distribution-specific variables
  include_vars: "{{ ansible_os_family }}.yml"
  tags: ["packages"]

- name: Starting audio role tasks
  ansible.builtin.debug:
    msg: "Starting audio tasks"

# - name: add modprobe option to not use a usb card are the default device
#   lineinfile:
#     path: /etc/modprobe.d/10-alsa_usb.conf
#     line: "options snd slots=snd-hda-intel,snd-usb-audio"
#     create: yes
#     backup: yes
#   become: True
#   tags: ['modprobe']

- ansible.builtin.import_tasks:
    file: jack.yml
  when: audio_system == 'pulseaudio_jack'
  tags: ["jack"]

- ansible.builtin.import_tasks:
    file: pulseaudio.yml
  when: audio_system == 'pulseaudio_jack'
  tags: ["pulseaudio"]

- ansible.builtin.import_tasks:
    file: pipewire.yml
  when: audio_system == 'pipewire'
  tags: ["pipewire"]

- ansible.builtin.import_tasks:
    file: tuning.yml
  tags: ["tuning"]
