---
- name: Load distribution-specific variables
  ansible.builtin.include_vars: "{{ ansible_os_family }}.yml"
  tags: ["packages"]

- name: Starting audio role tasks
  ansible.builtin.debug:
    msg: "Starting audio tasks"

- name: add modprobe option to not use a usb card are the default device
  lineinfile:
    path: /etc/modprobe.d/10-alsa_usb.conf
    line: "options snd slots=snd-hda-intel,snd-usb-audio"
    create: yes
    backup: yes
  tags: ['modprobe']

- tags: ["packages", "alsa_pkgs"]
  block:
    - name: Install ALSA packages (Arch Linux)
      aur:
        use: auto
        name: "{{ audio_packages.alsa }}"
        state: present
      become: false
      when: ansible_os_family == "Archlinux"

    - name: Install ALSA packages (Red Hat family)
      ansible.builtin.dnf:
        name: "{{ audio_packages.alsa }}"
        state: present
      when: ansible_os_family == "RedHat"

  rescue:
    - name: Installing ALSA packages failed
      ansible.builtin.debug:
        msg: "Failed to install ALSA packages for {{ ansible_os_family }}"

- ansible.builtin.import_tasks:
    file: pipewire.yml
  tags: ["pipewire", "audio-stack"]

- ansible.builtin.import_tasks:
    file: configure_pipewire.yml
  tags: ["pipewire", "config"]

- ansible.builtin.import_tasks:
    file: applications.yml
  tags: ["applications", "apps"]

# Legacy support - only for Arch Linux transitional compatibility
- ansible.builtin.import_tasks:
    file: jack.yml
  when: 
    - audio_system == 'pulseaudio_jack'
    - ansible_os_family == "Archlinux"
  tags: ["jack", "legacy"]

- ansible.builtin.import_tasks:
    file: pulseaudio.yml
  when: 
    - audio_system == 'pulseaudio_jack'
    - ansible_os_family == "Archlinux"
  tags: ["pulseaudio", "legacy"]


- ansible.builtin.import_tasks:
    file: tuning.yml
  tags: ["tuning"]

- import_tasks:
    file: noisetorch.yml
  become: false
  tags: ['noisetorch']