file://{{ user.home }}/Pictures
file://{{ user.home }}/Library
file://{{ user.home }}/Recordings
file://{{ user.home }}/Sessions
file://{{ user.home }}/Notebook
file://{{ user.home }}/Workspace
file://{{ user.home }}/Downloads
file://{{ user.home }}/Documents
