---
# tasks file for tools

# - ansible.builtin.import_tasks:
#     file: code-packager.yml
#   tags: ["code-packager"]

# - ansible.builtin.import_tasks:
#     file: whisper-stream.yml
#   tags: ["whisper-stream"]

- ansible.builtin.import_tasks:
    file: input-remapper.yml
  tags: ["input-remapper"]
