---
# tasks file for tools

- name: Load distribution-specific variables
  ansible.builtin.include_vars: "{{ ansible_distribution }}.yml"
  when: ansible_os_family == "RedHat"
  tags: ["packages"]

# Install essential tool packages (RedHat family only)
- name: Install tools packages
  tags: ["packages", "packages__tools"]
  block:
    - name: Install tools packages on RedHat family
      ansible.builtin.dnf:
        name: "{{ packages__tools }}"
        state: present
      when: packages__tools is defined

- ansible.builtin.import_tasks:
    file: obsidian.yml
  tags: ["obsidian"]

- name: Install gitflow
  tags: ["gitflow"]
  when: ansible_distribution == "Fedora"
  block:
    - name: RedHat | Enable COPR repository for git flow
      community.general.copr:
        name: "elegos/gitflow"
        state: enabled
      tags: ["repos", "copr"]

    - name: Install gitflow on Fedora
      ansible.builtin.dnf:
        name: gitflow
        state: present
        update_cache: true
      tags: ["packages"]

- name: Install lazydocker
  tags: ["lazydocker"]
  when: ansible_distribution == "Fedora"
  block:
    - name: RedHat | Enable COPR repository for lazydocker
      community.general.copr:
        name: "atim/lazydocker"
        state: enabled
      tags: ["repos", "copr"]

    - name: Install lazydocker on Fedora
      ansible.builtin.dnf:
        name: lazydocker
        state: present
        update_cache: true
      tags: ["packages"]

- ansible.builtin.import_tasks:
    file: input-remapper.yml
  tags: ["input-remapper"]

- ansible.builtin.import_tasks:
    file: vscode.yml
  tags: ["vscode"]
  when: ansible_os_family == "RedHat"

- name: Import npm package installation tasks
  ansible.builtin.import_tasks:
    file: packages/npm.yml
