---
# tasks file for tools

# - ansible.builtin.import_tasks:
#     file: code-packager.yml
#   tags: ["code-packager"]

# - ansible.builtin.import_tasks:
#     file: whisper-stream.yml
#   tags: ["whisper-stream"]
