## theme ui

font pango:{{ font.primary.name }} {{ font.primary.size }}

# class             border      bground    text      indicat    child_border
client.focused  $border-color $bg-color $text-color $indicator $child-border

client.focused_inactive  {{ colors.inactive.border }} {{ colors.inactive.background }} {{ colors.inactive.text }} {{ colors.inactive.indicator }} {{ colors.inactive.child_border }}

client.unfocused {{ colors.unfocused.border }} {{ colors.unfocused.background }} {{ colors.inactive.text }} {{ colors.unfocused.indicator }} {{ colors.unfocused.child_border }}

client.urgent {{ colors.urgent.border }} {{ colors.urgent.background }} {{ colors.urgent.text }} {{ colors.urgent.indicator }} {{ colors.urgent.child_border }}

client.placeholder {{ colors.placeholder.border }} {{ colors.placeholder.background }} {{ colors.placeholder.text }} {{ colors.placeholder.indicator }} {{ colors.placeholder.child_border }}

client.background {{ colors.primary.background }}

###############################################################
##-------------------- Bar        ---------------------------##
###############################################################

bar {
        id bar-primary
{% if inventory_hostname == 'ninjabot' %}
        font pango:{{ font.primary.name }} 10
{% else %}
        font pango:{{ font.primary.name }} {{ font.primary.size }}
{% endif %}
        modifier none

        workspace_buttons yes

        position top

        i3bar_command i3bar

        colors {
          background {{ colors.primary.background }}
          statusline {{ colors.primary.status }}
          separator {{ colors.primary.separator }}

#         <colorclass>       <border>                            <background>               <text>
          focused_workspace  {{ colors.workspace.border }} {{ colors.workspace.background }} {{ colors.workspace.text }}
          active_workspace   {{ colors.active.border }} {{ colors.active.background }} {{ colors.active.text }}
          inactive_workspace {{ colors.inactive.border }} {{ colors.inactive.background }} {{ colors.inactive.text }}
          urgent_workspace   {{ colors.urgent.border }} {{ colors.urgent.background }} {{ colors.urgent.text }}
          binding_mode       {{ colors.placeholder.border }} {{ colors.placeholder.background }} {{ colors.placeholder.text }}
        }

        status_command /usr/bin/i3status-rs ~/.config/i3status-rust/config.toml

{% if inventory_hostname == 'ninjabot' %}
        workspace_min_width 30
        height 32
{% else %}
        workspace_min_width 50
        height 32
{% endif %}

{% if i3.tray_output != 'default' %}
        tray_output "{{ i3.tray_output }}"
{% else %}
        tray_output primary
{% endif %}
        tray_padding 2
}
