---
# - name: populate /etc/resolv with local dns info
#   template:
#       src: etc/resolv.conf.j2
#       dest: /etc/resolv.conf

- name: Disable systemd-networkd service
  ansible.builtin.systemd:
    name: systemd-networkd
    enabled: false
    state: stopped
  ignore_errors: true

# - name: Disable dhcpcd service
#   service:
#       name: dhcpcd.service
#       enabled: no

- name: Ensure networkmanager connection check is enabled
  ansible.builtin.copy:
    content: |
      [connectivity]
      enabled=true
    dest: "/etc/NetworkManager/conf.d/20-connectivity.conf"
    owner: root

- name: Enable and start networkmanager
  ansible.builtin.systemd:
    name: NetworkManager
    enabled: true
    state: started

- name: Enable and start NetworkManager dispatcher
  ansible.builtin.service:
    name: NetworkManager-dispatcher.service
    enabled: true
    state: started

- ansible.builtin.import_tasks:
    file: interfaces.yml
  when: network_interfaces is defined

- ansible.builtin.import_tasks:
    file: bridge.yml
  when: network_interface_bridge is defined
