---
- name: Refresh host facts
  ansible.builtin.setup:

- name: Reload udev rules
  ansible.builtin.command: "/sbin/udevadm control --reload-rules"
- name: Restart NetworkManager
  ansible.builtin.service:
    name: NetworkManager
    state: restarted

- name: Reload systemd configuration
  ansible.builtin.service:
    daemon_reload: true

- name: Restart systemd-networkd service
  ansible.builtin.service:
    name: systemd-networkd
    enabled: true
    masked: false
    state: restarted

- name: Restart systemd-resolved service
  ansible.builtin.service:
    name: systemd-resolved
    enabled: true
    state: restarted
