{% if inventory_hostname == 'ninjabot' %}
Section "Device"
    Identifier     "NVIDIA Graphics"
    Driver         "nvidia"
    BusID          "PCI:2:0:0"
    VendorName     "NVIDIA Corporation"
EndSection

Section "Device"
    Identifier  "Intel Graphics"
    Driver      "intel"
    BusID       "PCI:0:2:0"
    Option      "TearFree" "true"
EndSection
{% endif %}
{% if inventory_hostname == 'tinybot' %}
Section "Device"
    Identifier  "Intel Graphics"
    Driver      "modesetting"
    Option      "AccelMethod"   "glamor"
    Option      "DRI"   "3"
EndSection
{% endif %}
{% if inventory_hostname == 'soundbot' %}
Section "Device"
    Identifier  "Intel Graphics"
    Driver      "modesetting"
    Option      "AccelMethod"   "glamor"
    Option      "DRI"   "3"
EndSection
{% endif %}
{% if inventory_hostname == 'lapbot' %}
Section "Device"
    Identifier  "Intel Graphics"
    Driver      "modesetting"
    Option      "AccelMethod"   "glamor"
    Option      "DRI"   "3"
EndSection
{% endif %}
