---
# sway specific tasks
- name: Load distribution-specific variables
  ansible.builtin.include_vars: "{{ ansible_distribution }}.yml"
  tags: ["packages"]

- block:
    - name: Install sway packages
      aur:
        use: paru
        name: "{{ item }}"
        state: present
      with_items:
        - "{{ packages__sway }}"
      become: false
      tags: ["packages"]
      when: ansible_distribution == "Archlinux"

    - name: Install sway packages
      ansible.builtin.dnf:
        name: "{{ item }}"
        state: present
      with_items:
        - "{{ packages__sway }}"
      tags: ["packages"]
      when: ansible_distribution == "Fedora"

  rescue:
    - name: Installing sway packages failed
      ansible.builtin.debug:
        msg: "Failed to install sway packages"

  always:
    - name: Ensure sway directories exist
      ansible.builtin.file:
        dest: "{{ wm_directory_default_location }}/{{ item.dest }}"
        state: directory
        owner: "{{ item.owner | default(wm_directory_default_owner) }}"
        group: "{{ item.group | default(wm_directory_default_group) }}"
        mode: "{{ item.mode | default(wm_directory_default_mode) }}"
        recurse: "{{ item.recurse | default(wm_directory_default_recurse) }}"
      loop: "{{ sway_directory_definitions }}"
      check_mode: false
      tags: ["folders"]

- name: Install Sway system configs
  block:
    - name: Copy sway system configs (excluding keybindings)
      ansible.builtin.copy:
        src: etc/sway/
        dest: /etc/sway
        owner: root
        group: root
        directory_mode: "0755"
        mode: "0644"
        backup: true
      become: true

    - name: Copy sway system executables
      ansible.builtin.copy:
        src: usr/libexec/sway/
        dest: /usr/libexec/sway
        owner: root
        group: root
        directory_mode: "0755"
        mode: "0755"
        backup: true
      become: true

    - name: Copy sway systemd executables
      ansible.builtin.copy:
        src: usr/libexec/sway-systemd/
        dest: /usr/libexec/sway-systemd
        owner: root
        group: root
        directory_mode: "0755"
        mode: "0755"
        backup: true
      become: true

    - name: Copy sway system scripts, templates, and themes
      ansible.builtin.copy:
        src: usr/share/sway/
        dest: /usr/share/sway
        owner: root
        group: root
        directory_mode: "0755"
        mode: "0644"
        backup: true
      become: true

- name: Update sway user configs
  become: false
  block:
    # - name: Remove previous sway user configs to ensure clean install
    #   ansible.builtin.file:
    #     path: "{{ user.home }}/.config/sway"
    #     state: absent

    - name: Update sway user configs
      ansible.builtin.copy:
        src: home/.config/sway/
        dest: "{{ user.home }}/.config/sway"
        backup: true

    - name: Update waybar css
      ansible.builtin.template:
        src: "home/.config/waybar/{{ item }}.j2"
        dest: "{{ user.home }}/.config/waybar/{{ item }}"
        mode: "0644"
        backup: true
      with_items:
        - style.css
        - theme.css

    - name: Update wlogout css
      ansible.builtin.template:
        src: "home/.config/wlogout/{{ item }}.j2"
        dest: "{{ user.home }}/.config/wlogout/{{ item }}"
        mode: "0644"
        backup: true
      with_items:
        - style.css
        - theme.css
    
    - name: Update .profile
      ansible.builtin.copy:
        src: home/.profile
        dest: "{{ user.home }}/.profile"
        mode: "0644"
        backup: true