---
- name: NAS Tasks
  debug:
    msg: "Starting NAS tasks"

- import_tasks:
    file: nfs.yml
  when: nfs_host|bool
  tags: ['nfs']

- import_tasks:
    file: samba.yml
  when: samba_host|bool
  tags: ['samba']

# - import_tasks:
#     file: rsyncd.yml
#   when: rsyncd_host|bool
#   tags: ['rsyncd']
#
# - import_tasks:
#     file: musikcube.yml
#   when: musikcube_host|bool
#   tags: ['musikcube']
