---
- name: Ensure group storage exists
  group:
    name: storage
    gid: 1036

- name: Ensure user home exists
  ansible.builtin.user:
    name: home
    state: present
    ansible.builtin.shell: /sbin/nologin
    group: storage

- name: Set smb.conf
  ansible.builtin.copy:
    src: etc/samba/smb.conf
    dest: /etc/samba/smb.conf
    owner: root
    group: root
    mode: "0644"
    backup: true

- name: Permit traffic to samba services
  ansible.posix.firewalld:
    service: samba
    permanent: true
    state: enabled

- name: Enable samba service
  ansible.builtin.service:
    name: samba
    state: started
    enabled: true
