## Here is a language switcher by pressing capslock button,
## and the capslock functionality available by using shift+capslock.
## Uncomment to enable 'us' to/from 'ru' switch. change to language(s) you prefer more.

#exec_always setxkbmap -option grp:caps_toggle "us,ru" -option "grp:caps_toggle,grp_led:caps"

# $exec xrandr --output HDMI-1 --mode 1920x1080 --rate 60 --scale 1x1
#exec xrandr --auto --output HDMI-1 --mode 1920x1080 --above HDMI-2

#$exec feh --recursive --bg-fill --randomize /usr/share/backgrounds/syncopated/*

$exec_always xrdb -load ~/.Xresources

{% if inventory_hostname != 'tinybot' %}
$exec "/usr/share/i3/scripts/i3autolayout.py"
{% endif %}

{% if i3.autostart != 'default' %}
{% for a in i3.autostart %}
$exec {{ a }}
{% endfor %}
{% endif %}

$exec "dex -a -s /etc/xdg/autostart/:~/.config/autostart/"

$exec_always "reload-sxhkd.sh"

# $exec_always "mkfifo /tmp/xobpipe && tail -f /tmp/xobpipe | xob -t 2170 & disown"
# exec ~/.i3/launch.sh
