---
- name: Workstation Full
  hosts: all
  gather_facts: true
  become: true
  vars:
    path:
      - "{{ lookup('env','HOME') }}/.cargo/bin"
      - "{{ lookup('env','HOME') }}/.local/bin"
  environment:
    PATH: "{{ ansible_env.PATH }}:/sbin:/bin:{{ path|join(':') }}"
  pre_tasks:
    - name: Symlink os-release to system-release for compatibility
      ansible.builtin.file:
        src: /etc/os-release
        dest: /etc/system-release
        state: link
      tags: ["always"]

    - name: Display ansible_distribution
      ansible.builtin.debug:
        msg: |
          The host {{ inventory_hostname }} has {{ ansible_distribution }} {{ ansible_distribution_major_version }} installed,
          which belongs to the {{ ansible_os_family }} OS family
      tags: ["always"]

  roles:
    - { role: user, tags: ["user"] }
    - { role: base, tags: ["base"] }
    - { role: ssh, tags: ["ssh"] }
    - { role: firewalld, tags: ["firewalld"] }
    # - { role: networking, tags: ["networkmanager", "networkd", "resolved"] }
    - { role: ntp, tags: ["ntp"] }
    #   - { role: grub, tags: ["grub"], when: "bootloader == 'grub' | default('grub')" }
    - { role: shell, tags: ["shell"] }
    - { role: rvm.ruby, tags: ["ruby"] }
    - { role: docker, tags: ["docker"] }
    - { role: libvirt, tags: ["libvirt"] }
    - { role: nas, tags: ["nas"], when: "nfs_host == 'true' or samba_host == 'true'" }
    - { role: syncopated.i3_desktop.xorg, tags: ["xorg"], when: "window_manager == 'i3'" }
    - { role: syncopated.i3_desktop.i3, tags: ["i3"], when: "window_manager == 'i3'" }
    - { role: syncopated.i3_desktop.dunst, tags: ["dunst"], when: "window_manager == 'i3'" }
    - { role: syncopated.i3_desktop.picom, tags: ["picom"], when: "window_manager == 'i3'" }
    - { role: syncopated.i3_desktop.sxhkd, tags: ["sxhkd"], when: "window_manager == 'i3'" }
    - { role: rpm-dev, tags: ["rpm-dev"] }
    - { role: rofi, tags: ["rofi"] }
    - { role: sway, tags: ["sway"] }
    # - { role: cosmic-desktop, tags: ["cosmic", "desktop"], when: "window_manager == 'cosmic'" }
  #   - { role: display-manager, tags: ["display-manager"] }
    - { role: audio, tags: ["audio"] }
  #   - { role: video, tags: ["video"] }
    - { role: tools, tags: ["tools"] }
  #   - { role: media, tags: ["media"] }
