---
- name: Dev Workstation Base
  hosts: all
  gather_facts: true
  become: true
  vars:
    path:
      - "{{ lookup('env','HOME') }}/.cargo/bin"
      - "{{ lookup('env','HOME') }}/.local/bin"
  environment:
    PATH: "{{ ansible_env.PATH }}:/sbin:/bin:{{ path|join(':') }}"
  pre_tasks:
    - name: Symlink os-release to system-release for compatibility
      ansible.builtin.file:
        src: /etc/os-release
        dest: /etc/system-release
        state: link
      tags: ["always"]

    - name: Display ansible_distribution
      ansible.builtin.debug:
        msg: |
          The host {{ inventory_hostname }} has {{ ansible_distribution }} {{ ansible_distribution_major_version }} installed,
          which belongs to the {{ ansible_os_family }} OS family
      tags: ["always"]

  roles:
    - { role: user, tags: ["user"] }
    - { role: base, tags: ["base"] }
    - { role: shell, tags: ["shell"] }
    - { role: xdg, tags: ["xdg"] }

    - { role: ssh, tags: ["ssh"] }
    - { role: firewalld, tags: ["firewalld"] }
    # - { role: networking, tags: ["networkmanager", "networkd", "resolved"] }
    - { role: ntp, tags: ["ntp"] }

    #   - { role: grub, tags: ["grub"], when: "bootloader == 'grub' | default('grub')" }

    - { role: rvm.ruby, tags: ["ruby"] }

    # - { role: docker, tags: ["docker"] }
    - { role: libvirt, tags: ["libvirt"] }

    - { role: nas, tags: ["nas"] }
    - { role: rpm-dev, tags: ["rpm-dev"] }
    - { role: tools, tags: ["tools"] }

    - { role: theme, tags: ["theme"] }

    - { role: i3, tags: ["i3"], when: "desktop == 'i3' | default('i3')" }
    - { role: sway, tags: ["sway"], when: "desktop == 'sway' | default('i3')" }

    - { role: rofi, tags: ["rofi"] }

    # - { role: cosmic-desktop, tags: ["cosmic", "desktop"], when: "desktop == 'cosmic'" }
    # - { role: gnome-desktop, tags: ["gnome", "desktop"], when: "desktop == 'gnome'" }

    # TODO: merge video with xorg
    # TODO: pipeline configurations
    - { role: audio, tags: ["audio"] }
    - { role: video, tags: ["video"] }
    - { role: media, tags: ["media"] }
