---
- name: Networking
  hosts: all
  become: true
  gather_facts: true

  vars:
    path:
      - "{{ lookup('env','HOME') }}/.local/bin"
  environment:
    PATH: "{{ ansible_env.PATH }}:/sbin:/bin:{{ path|join(':') }}"

  roles:
    - { role: networking, tags: ["networking", "networkmanager", "networkd", "avahi", "ntp"] }
    - { role: firewalld, tags: ["firewalld"] }
