---
# Ruby development environment

- name: Load distribution-specific variables
  include_vars: "{{ ansible_os_family }}.yml"
  tags: ["packages"]

- name: Install Ruby packages on Arch Linux
  pacman:
    name: "{{ ruby_packages }}"
    state: present
  become: true
  when: 
    - ansible_os_family == "Archlinux"
    - ruby_packages is defined
  tags: ["packages"]

- name: Install Ruby packages on Rocky Linux/RedHat
  dnf:
    name: "{{ ruby_packages }}"
    state: present
  become: true
  when: 
    - ansible_os_family == "RedHat"
    - ruby_packages is defined
  tags: ["packages"]

# - name: Update system bundler
#   command: gem update --system
#   become: true

- name: Install RVM
  import_tasks: "rvm.yml"
  when: rvm_install | default(false)
  become: false
  tags: ["rvm"]

- name: Install rbenv
  import_tasks: "rbenv.yml"
  when: rbenv_install | default(false)
  become: false
  tags: ["rbenv"]
