{% macro sections(name, data) -%}
{% if data is mapping %}
{{ section(name, data) }}
{% else %}
{% for item in data -%}
{{ section(name, item) }}
{% endfor %}
{% endif %}
{%- endmacro %}

{% macro section(name, data) -%}
{% if '#' in data %}
{{ '# ' ~ data['#'] }}
{% endif %}
[{{ name }}]
{% for key, value in data.items() -%}
{% if key is not eq('#') -%}
{{ options(key, value) }}
{%- endif %}
{%- endfor %}
{% endmacro %}

{% macro options(name, values) -%}
{% if values is iterable and values is not string %}
{% for value in values -%}
{{ option(name, value) }}
{% endfor %}
{% else %}
{{ option(name, values) }}
{% endif %}
{% endmacro %}

{% macro option(name, value) -%}
{{ name }}={{ value }}
{%- endmacro %}
